<div
	class="card column p-2 mr-2 mt-5 is-inline-flex is-one-quarter is-flex-wrap-wrap"
	>
	<div class="card-image">
		<a href="/wineries/{{id}}">
		<img
			src={{image}}
			style="max-width: 90%, justify-content: center"
			alt="Image"
		/></a>
	</div>
	<div class="card-content formatbox">
		<div class="media">
		<div class="media-content">
			<p class="title has-text-centered is-one-quarter no-padding"><a
				style="word-wrap: normal"
				target="_blank"
				href="/wineries/{{id}}"
			>{{name}}</a></p>
			<a style="word-wrap: normal" target="_blank" href={{website}}>
			{{format_url website}}</a>
			<div class="content is-center">
			{{phone}}
			<br />
			{{location}}
			<br>
			<br>
			<div class="fb-like" data-href={{facebook}} data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
		</div>
		</div>
		</div>
	</div>
</div>