<div id="app" class="row columns is-multiline is-flex-direction-row">
  <div v-for="card in cardData" key="card.id" class="column is-2"></div>
    <div class="card large">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src={{image}} alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <p class="title is-one-quarter no-padding">{{name}}</p>
              <a href={{website}}> {{website}}</a> </span> </p>
          </div>
        </div>
        <div class="content">
          {{location}} <br>
          {{phone}}
          <div class="background-icon"><span class="icon-twitter"></span></div>
        </div>
      </div>
  </div>
</div>


<div class="card column p-0 mr-3 is-inline-flex is-one-quarter is-flex-wrap-wrap">
													<div class="card-image">
														<figure class="image">
															<img src={{image}} alt="Image">
															</figure>
														</div>
														<div class="card-content">
															<div class="media">
																<div class="media-left"></div>
																<div class="media-content">
																	<p class="title is-one-quarter no-padding">Ab Astris Winery</p>
																	<a :href={{website}}> {{website}}</a>
																</span>
															</p>
														</div>
													</div>
													<div class="content">
                {{location}}
														<br>
                {{phone}}
                
															<div class="background-icon">
																<span class="icon-twitter"></span>
															</div>
														</div>
													</div>
												</div>