<div class="winery-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src={{image}} alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
      </div>
      <div class="media-content">
        <p class="title is-4">{{name}}</p>
        <p class="subtitle is-6">{{location}}</p>
        <p class="subtitle is-6">{{website}}</p>
        <p class="subtitle is-6">{{phone}}</p>
      </div>
    </div>
  </div>
</div>