

<div class="card column p-2 mr-2 mt-5 is-inline-flex is-one-quarter is-flex-wrap-wrap">
													<div class="card-image">
														<figure class="image">
															<img src={{image}} alt="Image">
															</figure>
														</div>
														<div class="card-content">
															<div class="media">
																<div class="media-content">
																	<p class="title is-center is-one-quarter no-padding">{{name}}</p>
																	<a class="is-center" :href={{website}}> {{website}}</a>
																</span>
															</p>
														</div>
													</div>
													<div class="content">
                {{phone}}
														<br>
                {{location}}
                
															<div class="background-icon">
																<span class="icon-twitter"></span>
															</div>
														</div>
													</div>
												</div>