<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Winery
  </h2>
    <form class="edit-winery-form">
      <div> 
                  <div>
                  <label class="label">Winery Name</label>
                    <input name="winery-name" type="text" value="{{winery.name}}" />
                  </div>

                <div>
                  <label class="label">Winery Location</label>
                    <input name="winery-location" type="text" value="{{winery.location}}" />
                </div>

                <div>
                  <label class="label">Winery Website</label>
                    <input name="winery-website" type="text" value="{{winery.website}}" />
                </div>

                <div>
                  <label class="label">Phone Number</label>
                    <input name="winery-phone" type="text" value="{{winery.phone}}" />
                </div>
                
                  <div>
                  <label class="label">Winery Image</label>
                    <input name="winery-image" type="text" value="{{winery.image}}" />
                </div>
      </div>

    <button type="submit">Submit</button>
    <button type="button" class="delete-winery-btn">Delete Winery</button>
  </form>
</article>



